<div class="card">
  <div class="card-header">User Detail</div>
  <div class="card-block">
    <form>
      <div class="form-group row">
        <div class="col-md-2 col-form-label">User Name:</div>

        <div class="col-md-6">
          <input
            type="text"
            name="userName"
            class="form-control"
            [(ngModel)]="user.userName"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 col-form-label">Password:</div>
        <div class="col-md-6">
          <input
            type="text"
            name="passWord"
            class="form-control"
            [(ngModel)]="user.passWord"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2 col-form-label">Full Name:</div>
        <div class="col-md-6">
          <input
            type="text"
            name="fullName"
            class="form-control"
            [(ngModel)]="user.fullName"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2 col-form-label">
          Is Admin:
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input
              class="form-check-input position-static"
              type="checkbox" 
              name="isAdmin"
              id="isAdmin"
              [(ngModel)]="user.isAdmin"
            />
          </div> 
        </div>
      </div>
    </form>
  </div>
</div>
