<div class="container">
  <h1>New Task</h1>
  <form>
    <div class="form-group">
      <label>Title
          <input class="form-control" type="text" [(ngModel)]="task.title"  [ngModelOptions]="{standalone: true}" />
      </label>
    </div>
    <div class="form-group">
      <label>Description
        <input class="form-control" type="text" />
      </label>
    </div>
    <div class="form-group">
      <label>Start Date
        <input class="form-control" type="text" />
      </label>
    </div>
    <div class="form-group">
      <label>End Date
        <input class="form-control" type="text"/>
      </label>
    </div>
    <div class="form-group">
      <label>Assigne
        <input class="form-control" type="text">
      </label>
    </div>
    <button (click)="create()">Create</button>
  </form>
</div>
