<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        pageTitle + ": " + product.productName

    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">product.productName</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Code:</div>
                    <div class="col-md-6">product.productCode</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Description:</div>
                    <div class="col-md-6">product.description</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Availability:</div>
                    <div class="col-md-6">product.releaseDate</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price:</div>
                    <div class="col-md-6">product.price|currency:"USD":true</div>
                </div>
            </div>
        </div>
        <div class="has-error" *ngIf="errorMessage">errorMessage</div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" [routerLink]="['/products']" [preserveQueryParams]="true">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/products', product.id, 'edit']">
            Edit
        </a>
    </div>
</div>