<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" (click)="search()" href="javascript:void(0)">Search Tasks</a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" [class.disabled]="selectedId == -1" (click)="delete()" href="javascript:void(0)">Delete Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [class.disabled]="selectedId == -1" [routerLink]="['/tasks',selectedId,'edit']" href="javascript:void(0)">Update Task</a>
    </li>
</ul>
