<div class="fa fa-refresh glyphicon-spin spinner" *ngIf="loading"></div>
<navbar
  [userName]="authService.currentUser?.userName"
  [isLoggedIn]="authService.isLoggedIn()"
  [isDisplayed]="messageService.isDisplayed"
  (displayMessages)="displayMessages()"
  (hideMessages)="hideMessages()"
  (logout)="logOut()"
></navbar>
<main class="container">
  <div class="row">
    <div
      [ngClass]="{
        'col-10': messageService.isDisplayed,
        'col-12': !messageService.isDisplayed
      }"
    >
      <router-outlet></router-outlet>
    </div>

    <div class="col-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</main>
