<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="#" onclick="return false">Task Manager</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/welcome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/tasks">Task list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/tasks/0/edit">Add Task</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li *ngIf="authService.isLoggedIn()" class="nav-item">
                <a class="nav-link">Welcome {{ authService.currentUser.userName }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/tasks">Show Messages</a>
            </li>

            <li *ngIf="!authService.isLoggedIn()" class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/login">Log In</a>
            </li>

            <li *ngIf="authService.isLoggedIn()" class="nav-item">
                <a class="nav-link" (click)="logOut()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>