<div class="container">
    <task-list-toolbar class="top-border" (onSearch)="searchTasks($event)" (onDelete)="removeTask($event)"></task-list-toolbar>
</div>
<div class="container">
    <table class="table table-hover table-striped">
        <!--<colgroup>
        <col class="col-md-1">
        <col class="col-md-3">
        <col class="col-md-4">
        <col class="col-md-2">
        <col class="col-md-2">
    </colgroup>-->
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks;let i = index;" (click)="setSelectedRow(i)" [class.active]="i == selectedRow">
                <th scope="row">{{i+1}}</th>
                <td>{{task?.title}}</td>
                <td>{{task?.description}}</td>
                <td>{{task?.startDate| date: 'dd/MM/yyyy'}}</td>
                <td>{{task?.endDate| date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    total tasks: {{tasks?.length}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<!--<div class="container task-list">
  <div class="row header">
    <td>Title</div>
    <td>Description</div>
    <td>Start date</div>
    <td>End date</div>
  </div>
  <task-list-item *ngFor="let task of tasks" [task]="task"></task-list-item>
</div>
<div>total tasks: {{tasks.length}}</tr>-->