<section class="card">
  <div class="card-header">
    <div class="container">Task List - total tasks: {{ tasks?.length }}</div>
  </div>

  <div class="card-body">
    <section class="container col-12 d-flex justify-content-between my-2">
      <div class="d-flex col-5">
        <label class="col-form-label col-2">Filter by:</label>
        <input
          type="text"
          class="form-control col-4"
          [(ngModel)]="listFilter"
          placeholder="type task title"
        />
      </div>

      <div class="col-6 d-flex justify-content-end">
        <button powerButton class="btn btn-primary" (click)="searchTasks()">
          Refresh
        </button>
      </div>
    </section>

    <section class="container">
      <table class="table table-hover table-striped">
        <!--<colgroup>
        <col class="col-md-1">
        <col class="col-md-3">
        <col class="col-md-4">
        <col class="col-md-2">
        <col class="col-md-2">
    </colgroup>-->
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Assegnee Id</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let task of tasks | taskFilter: listFilter; let i = index"
            (click)="setSelectedRow(i)"
            [class.active]="i == selectedRow"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <a
                [routerLink]="['/tasks', task.id, 'view']"
                [queryParams]="{ filterBy: listFilter }"
                >{{ task.title }}</a
              >
            </td>
            <td>{{ task.description }}</td>
            <td>{{ task.startDate | date: "dd/MM/yyyy" }}</td>
            <td>{{ task.endDate | date: "dd/MM/yyyy" }}</td>
            <td class="text-center">{{ task.assigneeId }}</td>
            <td class="text-right">
              <a
                class="btn btn-primary"
                href="#"
                role="button"
                [routerLink]="['/tasks', task.id, 'edit']"
                >Edit</a
              >
            </td>
            <td class="text-right">
              <button class="btn btn-danger" (click)="removeTask(task.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="card-footer">total tasks: {{ tasks?.length }}</div>
</section>
