<section class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="wizard">
      <nav class="nav nav-pills">
        <a
          (click)="currentTab = 'info'"
          class="nav-link"
          [ngClass]="{ active: currentTab == 'info' }"
        >
          Basic Information
          <i
            [ngClass]="{
              'fa fa-exclamation-circle text-danger': !isValid('info')
            }"
          ></i>
        </a>
        <a
          (click)="currentTab = 'tags'"
          class="nav-link"
          [ngClass]="{ active: currentTab == 'tags' }"
        >
          Search Tags
          <i></i>
        </a>
      </nav>
    </div>

    <div *ngIf="currentTab == 'info'">
      <task-edit-info [task]="task"></task-edit-info>
    </div>

    <div *ngIf="currentTab == 'tags'">
      <task-edit-tags [task]="task">></task-edit-tags>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-2 footer-body">
        <button
          class="btn btn-primary"
          type="button"
          (click)="save()"
          [disabled]="!isValid()"
        >
          Save
        </button>
        <!--[disabled]="form.invalid"-->
        <a class="btn btn-secondary" href="#" [routerLink]="['/tasks']"
          >Cancel</a
        >
        <a *ngIf="task.id > 0" class="btn btn-secondary" (click)="delete()"
          >Delete</a
        >
      </div>
    </div>
  </div>
</section>
