<div class="card card-default">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-block">
    <div class="wizard">
      <nav class="nav nav-pills">
        <a [routerLink]="['info']" class="nav-link" routerLinkActive="active">
          Basic Information
          <i
            [ngClass]="{
              'fa fa-exclamation-circle text-danger': !isValid('info')
            }"
          ></i>
        </a>
        <a [routerLink]="['tags']" class="nav-link" routerLinkActive="active">
          Search Tags
          <i
            [ngClass]="{
              'fa fa-exclamation-circle text-danger': !isValid('tags')
            }"
          ></i>
        </a>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-2 footer-body">
        <button
          class="btn btn-primary"
          type="button"       
          (click)="save()"
          [disabled]="!isValid(null)"
        >
          Save
        </button>
        <!--[disabled]="form.invalid"-->
        <a class="btn btn-secondary" href="#" [routerLink]="['/tasks']"
          >Cancel</a
        >
        <a *ngIf="task.id > 0" class="btn btn-secondary" (click)="delete()"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
