<section class="alert alert-info" role="alert">
  For this demo you can use as test user:
  <strong>
    <em> user: admin, password: admin </em>
  </strong>
</section>

<section class="card">
  <section class="card-header login-header">
    {{ pageTitle }}
  </section>

  <section class="card-body">
    <form
      novalidate
      (ngSubmit)="login(loginForm)"
      #loginForm="ngForm"
      autocomplete="off"
    >
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            (refUserName.touched || refUserName.dirty) && !refUserName.valid
        }"
      >
        <label class="col-md-2 control-label" for="userName">User Name</label>

        <div class="col-md-12">
          <!--
              - we use  #refUserNameElement to reference it as ViewChild
            #refUserName does not work becuase it is in binding with "ngModel"
            -->
          <input
            class="form-control"
            id="userName"
            type="text"
            placeholder="User Name (required) - (test user: admin)"
            required
            name="userName"
            [ngModel]="userName"
            #refUserName="ngModel"
            #refUserNameElement
          />
          <span
            class="invalid-feedback"
            *ngIf="
              (refUserName.touched || refUserName.dirty) && refUserName.errors
            "
          >
            <span *ngIf="refUserName.errors['required']">
              User name is required.
            </span>
          </span>
        </div>
      </div>

      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            (refPassword.touched || refPassword.dirty) && !refPassword.valid
        }"
      >
        <label class="col-md-2 control-label" for="password">Password</label>

        <div class="col-md-12">
          <input
            class="form-control"
            id="password"
            type="password"
            placeholder="Password (required) - (test Password: admin)"
            required
            name="password"
            [ngModel]="password"
            #refPassword="ngModel"
          />
          <span
            class="invalid-feedback"
            *ngIf="
              (refPassword.touched || refPassword.dirty) && refPassword.errors
            "
          >
            <span *ngIf="refPassword.errors['required']">
              Password is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button
              class="btn btn-primary"
              type="submit"
              style="width: 80px; margin-right: 10px"
              [disabled]="!loginForm.valid"
            >
              Log In
            </button>
          </span>
          <span>
            <a class="btn btn-default" [routerLink]="['/welcome']"> Cancel </a>
          </span>
        </div>
      </div>
    </form>

    <div class="has-error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </section>
</section>
