 <table class="table table-hover table-striped">  
  <caption>    
    User List - total user: {{ users?.length }}
  </caption>
  <thead>
    <th>#</th>
    <th>User Name</th>
    <th>Passowrd</th>
    <th>Full name</th>
    <th>Is Admin</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        {{ user.userName }}
      </td>
      <td>
        {{ user.passWord }}
      </td>
      <td>
        {{ user.fullName }}
      </td>
      <td>
        {{ user.isAdmin }}
      </td>
      <td>
        <a
          href="#"
          class="edit btn btn-primary"
          role="button"
          [routerLink]="['/users', user.id, 'edit']"
        >
          Edit
        </a>
      </td>
      <td>
        <button class="delete btn btn-danger" (click)="removeUser(user.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
